@charset "UTF-8";
@font-face {
    font-family: 'ChosunGs';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

a:link,a:visited{text-decoration:none;}
li{list-style-type:none;}
.top_gnb{position:relative;z-index:20;height:41px;box-sizing:border-box;border-bottom:1px solid #f2f2f2;background:#fbfbfb;}
.top_gnb .container{height:100%;}
.top_gnb .container .top_family{display:flex;flex-wrap:wrap;align-items:center;height:100%;margin:0;padding-left:0;}
.top_gnb .container .top_family a{display:block;height:100%;padding:0 13px 0 11px;font-size:14px;font-family:'Malgun Gothic','맑은 고딕',돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif;font-weight:bold;color:#0599d9;}
.top_gnb .container .top_family li:nth-child(1) a{color:#000;}
.head-line{display:flex;justify-content:center;margin-top:1em;padding:1.6rem 0;}
.head-line svg{width:430px;}
.menus{display:flex;justify-content:center;flex-wrap:wrap;margin-top:1em;border-top:1px solid #ebebeb;border-bottom:4px double #000;}
.menus button{margin:5px;border:none;background:none;}
.menus button:hover{background-color:beige;}
.menus button.active{background-color:#babab2;color:#ffffff;}
.icon-container {display:flex;justify-content:flex-start;align-items:center;padding:.5em;}
.nav-bar-icon{display:none !important;padding:1em .5em;transition:transform 0.2s ease-in-out;cursor:pointer;}
.nav-bar-icon:hover{transform:scale(1.15);}
.search-icon{padding:1em .5em;cursor:pointer;transition:transform 0.2s ease-in-out;}
.search-icon:hover{transform:scale(1.15);}
.search-container{display:none;}
.search-container.active{display:inline;}

#newsImg img{width:100%;max-width:100%;object-fit:cover;}
.news-img-size{max-width:100%;max-height:250px;}
.news{padding:1.6rem 0;border-bottom:1px solid #00000036;}

.newsText{cursor:pointer;}
.newsTitle{margin-bottom:0.5rem;padding-top:2.5rem;font-size:1.375rem;
    /* font-family:nyt-cheltenham,cheltenham-fallback-georgia,cheltenham-fallback-noto,georgia,'times new roman',times,serif; */
    font-family:'ChosunGs';
    font-weight:900;}
.newsDescription{font-family:nyt-imperial;font-size:0.875rem;-webkit-letter-spacing:0.1px;-moz-letter-spacing:0.1px;-ms-letter-spacing:0.1px;letter-spacing:0.1px;line-height:1.1875rem;}
.newsSource{font-family:nyt-franklin, helvetica, arial, sans-serif;font-size:0.625rem;line-height:1.25em;-webkit-letter-spacing:0.1em;-moz-letter-spacing:0.1em;-ms-letter-spacing:0.1em;letter-spacing:0.1em;}

.footer{padding:2.5rem 0;background-color:#ffffff;}
.copyright{width:100%;margin-right:auto;margin-left:auto;}
.copyright .global{font-size:12px;color:#919496;}
.copyright .global svg{width:230px;}
.link{padding:1.5rem 0 1.5rem 0;}
.link .link_item{display:inline-block;color:#919496;}
.link .link_item:not(:first-child){margin-left:24px;}
.link .link_item:hover{text-decoration:underline;}
.copyright_text{color:#919496;}

.icon-container {padding:.5em;justify-content:flex-start;align-items:center;}


.search-icon {padding:1em .5em;cursor:pointer;transition:transform 0.2s ease-in-out;}
.search-icon:hover {transform:scale(1.15);}
.search-container {display:none;font-size: 0;}
.search-container.active {display:inline;}

.input-area{width:250px;padding: 10px 0 10px 6px;border: 1px solid #ced4da;border-radius: .25rem 0 0 .25rem;font-size: 16px;}

.menus-container{/*padding-top:60px;*/background-color:#fff;transition:left 0.3s ease-in-out;z-index:1000;}
.menus-container.active{left:0;}
.menus-container .close{display:none;}
.search-button{margin-left: 0px;padding: 11px 11px 11px 11px;border:0;border:1px solid #ced4da;border-radius:0 .25rem .25rem 0;background-color:#fff;font-size:16px;font-weight:600;color:#333;transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;}
.search-button:hover{background-color:#333;color:#fff;}
@media all and (max-width:1400px){
    .footer .footer_logo{line-height:calc(100vw * (93 / 1400));width:calc(100vw * (132 / 1400));}
    .footer .info .info_item{padding:0 calc(100vw * (15 / 1400));}
    .footer .info .info_item h4{margin:calc(100vw * (20 / 1400));}
    .footer .info .info_item ul li a{padding:calc(100vw * (8 / 1400)) calc(100vw * (15 / 1400));}
    .second_content{padding-top:calc(100vw * (6 / 1400));}
    .second_content .sns_icon{width:calc(100vw * (54 / 1400));height:calc(100vw * (54 / 1400));font-size:calc(100vw * (21 / 1400));}
    .second_content .sns_icon:not(:first-child){margin-left:calc(100vw * (16 / 1400));}
}

@media all and (max-width:1200px){
    .newsTitle{padding-top:0.5rem;}
}

@media screen and (max-width:991px){
    .head-line svg{width:75%;}
    .news{padding-right:1.5rem;padding-left:1.5rem;}
    .news-img-size{max-height:unset;}
    .newsTitle{margin-top:1.5rem;}
    /* .menus{display:none;} */
    .nav-bar-icon{display:block !important;}
    .menus button{width:calc((100% - 20px)/2);}
    .menus-container{position:fixed;top:0;left:-100%;height:100%;width:250px;padding: 1.9rem 15px;box-sizing: border-box;}
    .menus-container{background-color:#333333;}
    .menus-container .close{display:block;position:relative;width:30px;height:30px;outline:1px solid #000;}
    .menus-container .close:before{display:flex;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;justify-content:center;align-items:center;background-color:#ffffff;}
    .menus{display:block;border-bottom:1px solid #ebebeb;}
    .menus button{width:100%;margin-right:0;margin-left:0;padding:1.2rem 0;color:#ebebeb;}
    .menus button + button{border-top:1px solid #ebebeb;}
    .menus button:hover{color:#000;}
}

.alert-danger{border:none;background-color:#d5d5d5;text-align:center;color:#333;font-weight:600;}

.pagination{justify-content:center;margin-top:16px;}
.page-item:not(.active) .page-link{color:#333;}
.page-item:not(.active) .page-link:hover{border:1px solid #333333;background-color:#333333;color:#ffffff;}
.page-item.active .page-link{border:1px solid #333333;background-color:#333333;}
.page-link:focus{box-shadow:unset;border:2px dashed #333333;}
